<!doctype html>
<html>
  <head>
    <title>Login to Database</title>
  </head>
  <body>
    <h1>Login to Database</h1>
    <form method="POST">
      <label>FastAPI Base URL:</label>
      <input
        type="text"
        name="base_url"
        value="{{ defaults.base_url }}"
      /><br />

      <label>Host:</label>
      <input type="text" name="host" value="{{ defaults.host }}" /><br />

      <label>Port:</label>
      <input type="number" name="port" value="{{ defaults.port }}" /><br />

      <label>User:</label>
      <input type="text" name="user" value="{{ defaults.user }}" /><br />

      <label>Password:</label>
      <input
        type="password"
        name="password"
        value="{{ defaults.password }}"
      /><br />

      <label>Database:</label>
      <input
        type="text"
        name="database"
        value="{{ defaults.database }}"
      /><br />

      <button type="submit">Login</button>
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
